@font-face {
  font-family: openSansExtraBold;
  src: url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: openSans;
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}