@import "fonts";
$openSansBold: openSansExtraBold, sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: openSans, sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@import "header";

